.header,
.menu,
.navigation,
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 80px;
  background: black;
  z-index: 10;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
}

.menu svg {
  color: #fff;
  cursor: pointer;
}

.navigation {
  flex-grow: 1;
}

.navigation svg {
  color: #fff;
  cursor: pointer;
}

.navigation li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
  cursor: pointer;
}

.navigation a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.navigation a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navigation a:hover:after {
  width: 100%;
  left: 0;
}

/* search field */

.search {
  background: black;
  border-radius: 15px;
  transition: 0.8s;
  width: 40px;
  justify-self: end;
  position: absolute;
  right: 30px;
}

.search input {
  width: 0px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: none;
}

.search svg {
  color: #fff;
  cursor: pointer;
}

.search:hover svg {
  color: black;
}

.search:hover,
.search:focus {
  width: 250px;
  transition: 0.8s;
  padding-right: 10px;
  background: #fff;
  padding-right: 10px;
}

.search:hover input,
.search:focus input {
  width: 100%;
  transition: 1s;
  height: 24px;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 20px;
  border: none;
  outline: none;
  border-bottom: none;
}

/* @media only screen and (max-resolution: 400dpi) {
  .navigation div {
    margin: 0 30px;
  }
} */