.container {
    height: calc(100vh - 80px);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper .error{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;

}

.wrapper h1 {
    color: #fff;
    font-size: 8em;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
}

.wrapper h2 {
    color: #fff;
    font-size: 2em;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
}

@media only screen and (max-resolution: 125dpi) {
    .wrapper .error {
        position: absolute;
        top: 15%;
    }

}

@media only screen and (min-resolution: 125dpi) {
    .wrapper .error {
        position: relative;
        top: 20px;
    }
}

/* <div class="paper">
<div class="face">
  <div class="eyes">
    <div class="eye eye-left"></div>
    <div class="eye eye-right"></div>
  </div>
  <div class="rosyCheeks rosyCheeks-left"></div>
  <div class="rosyCheeks rosyCheeks-right"></div>
  <div class="mouth"></div>
</div>
</div>
</div> */