/* @media only screen and (min-resolution: 110dpi) {
    .list{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-resolution: 110dpi) {
    .list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
} */

/* .container { */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red; */
/* } */

/* .wrapper { */
    /* width: 100%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* display: flex; */
    /* -webkit-box-pack: center; */
    /* justify-content: center; */
    /* -webkit-box-align: center; */
    /* align-items: center; */
    /* gap: 40px; */
    /* flex-flow: row wrap; */
    /* background: #edf0f2; */
    /* height: calc(100vh - 80px); */
/* } */











.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1rem;
    background: #edf0f2;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background: #edf0f2;
}