*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ERROR COLOR: #E21D23 */
/* BLUE COLOR: "rgb(0, 157, 255)" */
 /* BLUE DARKER COLOR: rgb(36, 169, 251); */
 /* DISABLED COLOR: color: rgba(0, 0, 0, 0.26); */