.container {
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    position: absolute;
}

.loaderContainer {
    position: relative;
    height: 200px;
    width: 200px;
}

.loaderContainer svg {
    position: absolute;
}

.spinner {
    animation: rotator 1.4s linear infinite;
}

.loaderDog {
    left: 10px;
    bottom: 10px;
    width: 186px;
    height: auto;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 622;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: #FCB316;
    animation: dash 1.4s ease-in-out infinite;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 622;
    }

    50% {
        stroke-dashoffset: 155.5;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 622;
        transform: rotate(450deg);
    }
}


/* EYELID */

.loaderDog svg,
.eyelid {
    /* transition: all 0.35s ease-in-out;  */
    transition: all 0.2s ease-in-out;
}

.blink .eyelid {
    transition: all 0.2s ease-in-out;
}

/* RIGHT EAR */

.earTwitch {
    transform-origin: 66px 93px;
    transform: rotate(15deg);
    transition: transform 0.2s ease-in-out;
}

.earReturn {
    transform-origin: 66px 93px;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}